<?xml version="1.0" ?>
<!--
////////////////////////////////////////////////////////////////////////////////
//
// Read more about ArcGIS Viewer for Flex - http://links.esri.com/flexviewer
//
////////////////////////////////////////////////////////////////////////////////
-->
<configuration>
    <title>Natural Resource Planner</title>
    <style>
        <colors>0xFFFFFF,0x023D9B,0x101010,0x000000,0xFFFFFF</colors>
        <alpha>1.0</alpha>
    </style>
    <!-- replace the following url with your own geometryservice -->
    <geometryservice url="http://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer" />
    
    <headerLinkContent>
        <![CDATA[
            
<a href="http://www.kdwpt.state.ks.us/" target="_blank">KDWPT - Home Page</a> | 
<a href="ftp://wiley.kars.ku.edu/windresource/NRP_Guide.pdf" target="_blank">User Guide</a> | 
<a href="ftp://wiley.kars.ku.edu/windresource/NRP_Metadata.pdf" target="_blank">Metadata</a> | 
<a href="http://kars.ku.edu/natural-resource-planner/nrp-additional-resources/" target="_blank">Additional resources</a> | 
<a href="http://kars.ku.edu/natural-resource-planner/view-arcmap/" target="_blank">View in ArcMap</a> | 
<a href="http://kars.ku.edu/geonetwork/srv/en/main.home" target="_blank">Download Geodata</a> | 
<a href="http://kars.ku.edu/ArcGIS/rest/services/NaturalResourcePlanner/MapServer" target="_blank">Web Service Contents</a> | 

            <a href="http://kbs.ku.edu/" target="_blank">Kansas Biological Survey</a> | 
            <a href="http://kars.ku.edu/" target="_blank">Kansas Applied Remote Sensing (KARS)</a>
            

        ]]>
    </headerLinkContent>

    <!-- UI elements -->
    <widget left="10"  top="110"    config="widgets/Navigation/NavigationWidget.xml" url="widgets/Navigation/NavigationWidget.swf"/>
    <widget right="-2" bottom="-2" config="widgets/OverviewMap/OverviewMapWidget.xml" url="widgets/OverviewMap/OverviewMapWidget.swf"/>
    <widget right="60" top="145"    config="widgets/MapSwitcher/MapSwitcherWidget.xml" url="widgets/MapSwitcher/MapSwitcherWidget.swf"/>
    <widget left="0"   top="0"     config="widgets/HeaderController/HeaderControllerWidget.xml" url="widgets/HeaderController/HeaderControllerWidget.swf"/>
    <widget left="95" top="113" url="widgets/MapProgressBar/MapProgressBarWidget.swf"/>
	
    
    <map initialextent="-11600000 4260000 -10290000 5056000"  fullextent="-14859380 2246000 -6326550 8673717" top="40" >
        <basemaps>
            <layer label="Streets" type="tiled" visible="false"  alpha="1"
                   url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer"/>
            <layer label="Aerial"  type="tiled" visible="true" alpha="1"
                   url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer"/>
            <layer label="Topo"    type="tiled" visible="false" alpha="1"
                   url="http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer"/>
                        
        </basemaps>
        <operationallayers>
			
<layer label="Natural Resource Planner" type="dynamic" visible="true" alpha="1" imageformat="png32"
       url="http://kars.ku.edu/ArcGIS/rest/services/NaturalResourcePlanner/MapServer"/>
<layer label="Kansas County Boundaries" type="dynamic" visible="true" alpha="1"
       url="http://kars.ku.edu/ArcGIS/rest/services/SingleLayers/KansasCountiesBoundaries/MapServer"/>

        </operationallayers>
    </map>
    

    <!-- widgets organized into widget containers that manage close/open etc -->
    <!-- supported layout property options: horizontal(default)|float|vertical|fix-->
    <widgetcontainer layout="float">
        <widget label="Legend" left="94" top="136"
                icon="assets/images/Legend32.png"
                config="widgets/Legend/LegendWidget.xml"
                url="widgets/Legend/LegendWidget.swf"
            	  preload="open"/> 

        
<widget label="Data Extract" left="140" top="160"
        icon="assets/images/i_scissors.png"
        config="widgets/DataExtract/DataExtractWidget.xml"
        url="widgets/DataExtract/DataExtractWidget.swf"/> 
<widget label="PLSS Summary"
        icon="assets/images/i_table.png"
        config="widgets/PLSSReport/PLSSReportWidget.xml"
        url="widgets/PLSSReport/PLSSReportWidget.swf"/>


        <widget label="Find location"   left="100" top="110"
                icon="assets/images/i_search.png"
                config="widgets/Locate/LocateWidget_US.xml"
                url="widgets/Locate/LocateWidget.swf"/>
        <widget label="Draw and Measure" left="60" top="400"
                icon="assets/images/i_draw.png"
                config="widgets/Draw/DrawWidget.xml"
                url="widgets/Draw/DrawWidget.swf"/>
        <widget label="Print" left="390" top="400"
                icon="assets/images/i_print.png"
                config="widgets/Print/PrintWidget.xml"
                url="widgets/Print/PrintWidget.swf"/>
        <widget label="Identify"
                icon="assets/images/i_info.png"
                config="widgets/Identify/IdentifyWidget.xml"
                url="widgets/Identify/IdentifyWidget.swf"/>
        <widget label="About this map" left="220" top="145"
                icon="assets/images/i_help.png"
        	  url="widgets/About/AboutWidget.swf"/> 
		
    </widgetcontainer>
    
    
<dataextractionservice>http://kars.ku.edu/arcgis/rest/services/Geoprocessing/NaturalResourcePlanner/GPServer/Extract%20Data%20Task</dataextractionservice>
<logo>assets/images/header_kdwp_logo.png</logo>
<mapDescription>
  <![CDATA[
    <p>The Kansas Natural Resource Planner was designed to depict general areas of conservation 
    sensitivity and is intended to serve as a guide for the siting of wind farms, oil and gas 
    fields, transmission lines, and other landscape-altering structures. The data here is an 
    accumulation of data available from different organizations across the state and is presented
    here as an organized, assessable, and unbiased resource for people. The information presented
    is based on the collective judgment of all the groups contributing and is not intended to be 
    prejudiced in favor of, or against, any specific form of development. This map, and the data 
    contained therein, is for general planning purposes only. Any final decisions should be based
    on actual field investigation as well as consultation with appropriate agencies and 
    organizations (ie Kansas Department of Wildlife and Parks, U.S. Fish and Wildlife Service, 
    Kansas Biological Survey, The Nature Conservancy) as a more thorough review and investigation
    of variables could impact a proposed project.</p><br />
    ]]>
  </mapDescription>

  <copyrightDescription>
    <![CDATA[
      <p>This map is released by the Kansas Biological Survey under a Creative Commons 
      Attribution-Non Commercial-No Derivative Works License version 3.0.</p><br />
    ]]>
  </copyrightDescription>
    
  <disclaimerDescription>
    <![CDATA[
      <p>The Kansas Biological Survey (KBS) and its representatives make no warranty or 
      representation, either expressed or implied, with respect to the digital data and 
      their documentation, their quality, performance, merchantability, or fitness for a 
      particular purpose. The digital data are distributed on "as is" basis, and the user 
      assumes all risk as to their quality, the results obtained from their use, and the 
      performance of the data. In no event will the KBS or its representatives be liable 
      for any direct, indirect, special, incidental or consequential damages resulting from 
      and defect in the KBS's digital data or in their documentation. This disclaimer of 
      warranty is exclusive and in lieu of all others, oral or written, expressed or implied.
      No agent or employee is authorized to make any modification, extension, or addition to 
      this warranty.</p>
    ]]>      
  </disclaimerDescription>

</configuration>